@import '../common/colors.scss';

.dropdown {
  display: inline-block;
  position: relative;
}

.content {
  background-color: $color-white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: $color-black;
  list-style: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;
}

.event {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:focus {
    outline: 0;
  }
}
