@import '../common/colors.scss';
@import '../common/breakpoints.scss';

.navbar {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include lg {
    padding: 52px 0 46px;
  }
}

.container {
  color: $color-white;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;

  @include lg {
    max-width: $screen-lg-min;
  }

  & h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    margin: 30px 0 7px 12px;

    @include sm {
      margin: 35px 0 6px 21px;
    }

    @include lg {
      font-size: 36px;
      flex-grow: 1.5;
      line-height: 43.2px;
      margin: 0;
    }
  }
}

.menu {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 20px;
  margin: 24px;
  position: relative;
  width: 25px;

  @include sm {
    margin: 28px;
  }

  @include lg {
    display: none;
  }

  &:focus {
    outline: 0;
  }
}

.list {
  align-items: center;
  display: none;
  font-weight: 300;
  flex-grow: 1;
  justify-content: flex-end;

  @include lg {
    display: flex;
  }

  & li {
    line-height: 21.6px;
    margin: auto 9px;
  }
}

.search {
  background-color: transparent;
  border: 0;
  height: 36px;
  margin-left: 27px;
  outline: 0 none;
  position: relative;
  width: 36px;

  &:focus {
    outline: 0;
  }
}

.searchBar {
  border: 0;
  border-bottom: 2px solid $color-white;
  background-color: transparent;
  border-radius: 0;
  color: $color-white;
  font-size: 1rem;
  transition: width 0.2s ease-in;
  width: 100px;

  &:focus {
    width: 200px;
    outline: 0 none;
  }
}

.form {
  align-items: center;
  display: flex;
}

.noStyleList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: 12px 16px;
  text-decoration: none;

  &:hover {
    background-color: #ddd;
  }
}

.dropdown {
  right: 28px;
  transform: translateY(-25px);
}
